### 1. <a id='importation'>Détail des données fournies</a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import warnings

# Ignorer les avertissements
warnings.filterwarnings('ignore')
path = "../data/"

DELIMITER = "--------------------------------"

---

### 2. <a id='chargement'>Chargement et initialisation des données</a>

In [5]:
#On vient charger les différents dataset
employee_df = pd.read_csv(path + "employee_survey_data.csv")
general_df = pd.read_csv(path + "general_data.csv")
manager_df = pd.read_csv(path + "manager_survey_data.csv")
in_time_df = pd.read_csv(path + "in_time.csv")
out_time_df = pd.read_csv(path + "out_time.csv")

dataframes = [
    ("employee_df", employee_df),
    ("general_df", general_df),
    ("manager_df", manager_df),
    ("in_time_df", in_time_df),
    ("out_time_df", out_time_df)
]

for name, df in dataframes:
    print(f"Nom du DataFrame : {name}")
    print(f"Description : {df.describe()}")
    print(f" Valeurs nulles : {df.isnull().sum()}")


# result employee_survey = pd.read_csv('../data/cleaned_employee_survey.csv')
#general_data = pd.read_csv('../data/cleaned_general_data.csv')
#manager_survey = pd.read_csv('../data/cleaned_manager_survey.csv')
#total_hours_per_employee = pd.read_csv('../data/total_hours_per_employee.csv')

Nom du DataFrame : employee_df
Description :         EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
count  4410.000000              4385.000000      4390.000000      4372.000000
mean   2205.500000                 2.723603         2.728246         2.761436
std    1273.201673                 1.092756         1.101253         0.706245
min       1.000000                 1.000000         1.000000         1.000000
25%    1103.250000                 2.000000         2.000000         2.000000
50%    2205.500000                 3.000000         3.000000         3.000000
75%    3307.750000                 4.000000         4.000000         3.000000
max    4410.000000                 4.000000         4.000000         4.000000
 Valeurs nulles : EmployeeID                  0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64
Nom du DataFrame : general_df
Description :                Age  DistanceFromHome    Education  EmployeeCount   EmployeeID  \
count  4410.000000       4410.000000  4410.000000         4410.0  4410.000000
mean     36.923810          9.192517     2.912925            1.0  2205.500000
std       9.133301          8.105026     1.023933            0.0  1273.201673
min      18.000000          1.000000     1.000000            1.0     1.000000
25%      30.000000          2.000000     2.000000            1.0  1103.250000
50%      36.000000          7.000000     3.000000            1.0  2205.500000
75%      43.000000         14.000000     4.000000            1.0  3307.750000
max      60.000000         29.000000     5.000000            1.0  4410.000000

          JobLevel  MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  \
count  4410.000000    4410.000000         4391.000000        4410.000000
mean      2.063946   65029.312925            2.694830          15.209524
std       1.106689   47068.888559            2.498887           3.659108
min       1.000000   10090.000000            0.000000          11.000000
25%       1.000000   29110.000000            1.000000          12.000000
50%       2.000000   49190.000000            2.000000          14.000000
75%       3.000000   83800.000000            4.000000          18.000000
max       5.000000  199990.000000            9.000000          25.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         4410.0       4410.000000        4401.000000
mean             8.0          0.793878          11.279936
std              0.0          0.851883           7.782222
min              8.0          0.000000           0.000000
25%              8.0          0.000000           6.000000
50%              8.0          1.000000          10.000000
75%              8.0          1.000000          15.000000
max              8.0          3.000000          40.000000

       TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
count            4410.000000     4410.000000              4410.000000
mean                2.799320        7.008163                 2.187755
std                 1.288978        6.125135                 3.221699
min                 0.000000        0.000000                 0.000000
25%                 2.000000        3.000000                 0.000000
50%                 3.000000        5.000000                 1.000000
75%                 3.000000        9.000000                 3.000000
max                 6.000000       40.000000                15.000000

       YearsWithCurrManager
count           4410.000000
mean               4.123129
std                3.567327
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000
 Valeurs nulles : Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Nom du DataFrame : manager_df
Description :         EmployeeID  JobInvolvement  PerformanceRating
count  4410.000000     4410.000000        4410.000000
mean   2205.500000        2.729932           3.153741
std    1273.201673        0.711400           0.360742
min       1.000000        1.000000           3.000000
25%    1103.250000        2.000000           3.000000
50%    2205.500000        3.000000           3.000000
75%    3307.750000        3.000000           3.000000
max    4410.000000        4.000000           4.000000
 Valeurs nulles : EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64
Nom du DataFrame : in_time_df
Description :         Unnamed: 0  2015-01-01  2015-01-14  2015-01-26  2015-03-05  \
count  4410.000000         0.0         0.0         0.0         0.0
mean   2205.500000         NaN         NaN         NaN         NaN
std    1273.201673         NaN         NaN         NaN         NaN
min       1.000000         NaN         NaN         NaN         NaN
25%    1103.250000         NaN         NaN         NaN         NaN
50%    2205.500000         NaN         NaN         NaN         NaN
75%    3307.750000         NaN         NaN         NaN         NaN
max    4410.000000         NaN         NaN         NaN         NaN

       2015-05-01  2015-07-17  2015-09-17  2015-10-02  2015-11-09  2015-11-10  \
count         0.0         0.0         0.0         0.0         0.0         0.0
mean          NaN         NaN         NaN         NaN         NaN         NaN
std           NaN         NaN         NaN         NaN         NaN         NaN
min           NaN         NaN         NaN         NaN         NaN         NaN
25%           NaN         NaN         NaN         NaN         NaN         NaN
50%           NaN         NaN         NaN         NaN         NaN         NaN
75%           NaN         NaN         NaN         NaN         NaN         NaN
max           NaN         NaN         NaN         NaN         NaN         NaN

       2015-11-11  2015-12-25
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN
 Valeurs nulles : Unnamed: 0       0
2015-01-01    4410
2015-01-02     209
2015-01-05     206
2015-01-06     228
              ...
2015-12-25    4410
2015-12-28     234
2015-12-29     230
2015-12-30     265
2015-12-31     213
Length: 262, dtype: int64
Nom du DataFrame : out_time_df
Description :         Unnamed: 0  2015-01-01  2015-01-14  2015-01-26  2015-03-05  \
count  4410.000000         0.0         0.0         0.0         0.0
mean   2205.500000         NaN         NaN         NaN         NaN
std    1273.201673         NaN         NaN         NaN         NaN
min       1.000000         NaN         NaN         NaN         NaN
25%    1103.250000         NaN         NaN         NaN         NaN
50%    2205.500000         NaN         NaN         NaN         NaN
75%    3307.750000         NaN         NaN         NaN         NaN
max    4410.000000         NaN         NaN         NaN         NaN

       2015-05-01  2015-07-17  2015-09-17  2015-10-02  2015-11-09  2015-11-10  \
count         0.0         0.0         0.0         0.0         0.0         0.0
mean          NaN         NaN         NaN         NaN         NaN         NaN
std           NaN         NaN         NaN         NaN         NaN         NaN
min           NaN         NaN         NaN         NaN         NaN         NaN
25%           NaN         NaN         NaN         NaN         NaN         NaN
50%           NaN         NaN         NaN         NaN         NaN         NaN
75%           NaN         NaN         NaN         NaN         NaN         NaN
max           NaN         NaN         NaN         NaN         NaN         NaN

       2015-11-11  2015-12-25
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN
 Valeurs nulles : Unnamed: 0       0
2015-01-01    4410
2015-01-02     209
2015-01-05     206
2015-01-06     228
              ...
2015-12-25    4410
2015-12-28     234
2015-12-29     230
2015-12-30     265
2015-12-31     213
Length: 262, dtype: int64

---

Résumé des différentes données présentes dans les dataset:
(ce qu'on a fait dans chaque notebook)

---

### 3. <a id='merge'>Pré-traitements spécifique</a>

Notre objectif est de venir merger ces différents dataset afin de travailler avec un seul DataFrame.
En observant les différentes caractéristiques des dataset, on s'est aperçu qu'on peut dès à présent fusionner tous les dataset sauf "in_time" et "out_time" car les informations présentes sont très différentes des autres dataset, sur la forme ou le fond.
On va donc venir synthétiser ces données afin de récupérer l'heure totale de travail pour chaque employé.

In [11]:
in_time_df = in_time_df.rename(columns={"Unnamed: 0": "EmployeeID"})
out_time_df = out_time_df.rename(columns={"Unnamed: 0": "EmployeeID"})

### Vérifications concernant les 2 dataset :

# Valeurs des EmployeeID
if not in_time_df['EmployeeID'].equals(out_time_df['EmployeeID']):
    print("Les EmployeeID ne correspondent pas entre les dataset : in_time_df et out_time_df")

# Correspondance des valeurs NA
in_time_na = in_time_df.isna()
out_time_na = out_time_df.isna()
if not in_time_na.equals(out_time_na):
    print("Les valeurs NA dans in_time_df et out_time_df ne correspondent pas")

### On est maintenant sûr que les dataset sont conformes et peuvent donc être fusionnés, on va venir convertir les objets en date afin de récuperer les heures totales.

for col in in_time_df.columns[1:]:
    in_time_df[col] = pd.to_datetime(in_time_df[col], errors='coerce')
    out_time_df[col] = pd.to_datetime(out_time_df[col], errors='coerce')

time_difference = out_time_df.iloc[:, 1:] - in_time_df.iloc[:, 1:]

time_difference_in_hours = time_difference.apply(lambda row: row.dt.total_seconds() / 3600, axis=1)
total_hours_per_employee = time_difference_in_hours.sum(axis=1, skipna=True).round(2)

# Ajouter une colonne pour la durée totale
out_time_df["Total_Hours"] = total_hours_per_employee
total_hours_df = out_time_df[["EmployeeID", "Total_Hours"]]

      EmployeeID  Total_Hours
0              1      1710.69
1              2      1821.68
2              3      1697.20
3              4      1690.51
4              5      1961.51
...          ...          ...
4405        4406      2070.91
4406        4407      1468.40
4407        4408      1780.23
4408        4409      2287.72
4409        4410      1621.44

[4410 rows x 2 columns]

### 3. <a id='merge'>Merge et sauvegarde des datasets</a>

In [12]:
company_df = general_df.merge(employee_df, on='EmployeeID').merge(manager_df, on='EmployeeID').merge(total_hours_df, on='EmployeeID')
company_df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Total_Hours
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,6,1,0,0,3.0,4.0,2.0,3,3,1710.69
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,3,5,1,4,3.0,2.0,4.0,2,4,1821.68
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,2,5,0,3,2.0,2.0,1.0,3,3,1697.20
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,5,8,7,5,4.0,4.0,3.0,2,3,1690.51
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,2,6,0,4,4.0,1.0,3.0,3,3,1961.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,5,3,0,2,4.0,1.0,3.0,3,3,2070.91
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2,3,0,2,4.0,4.0,3.0,2,3,1468.40
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,4,4,1,2,1.0,3.0,3.0,3,4,1780.23
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,2,9,7,8,4.0,1.0,3.0,2,3,2287.72
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,6,21,3,9,1.0,3.0,NaN,4,3,1621.44

---

### 4. <a id='apercu'>Aperçu général</a>

In [18]:
print(f"Nombre de lignes : {company_df.shape[0]}")
print(f"Nombre de colonnes : {company_df.shape[1]}")

Nombre de lignes : 4410
Nombre de colonnes : 48

In [19]:
print("Informations de base :")
company_df.info()

Informations de base :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   Attrition                          4410 non-null   int64
 2   DistanceFromHome                   4410 non-null   int64
 3   Education                          4410 non-null   int64
 4   EmployeeCount                      4410 non-null   int64
 5   EmployeeID                         4410 non-null   int64
 6   JobLevel                           4410 non-null   int64
 7   MonthlyIncome                      4410 non-null   int64
 8   NumCompaniesWorked                 4410 non-null   float64
 9   Over18                             4410 non-null   int64
 10  PercentSalaryHike                  4410 non-null   int64
 11  StandardHours                      4410 non-null   int64
 12  StockOptionLevel                   4410 non-null   int64
 13  TotalWorkingYears                  4410 non-null   float64
 14  TrainingTimesLastYear              4410 non-null   int64
 15  YearsAtCompany                     4410 non-null   int64
 16  YearsSinceLastPromotion            4410 non-null   int64
 17  YearsWithCurrManager               4410 non-null   int64
 18  AvgYearsPerCompany                 4410 non-null   float64
 19  StabilityUnderManager              4410 non-null   float64
 20  TravelIntensity                    4410 non-null   int64
 21  YearsBeforePromotion               4410 non-null   int64
 22  BusinessTravel_Travel_Frequently   4410 non-null   float64
 23  BusinessTravel_Travel_Rarely       4410 non-null   float64
 24  EducationField_Life Sciences       4410 non-null   float64
 25  EducationField_Marketing           4410 non-null   float64
 26  EducationField_Medical             4410 non-null   float64
 27  EducationField_Other               4410 non-null   float64
 28  EducationField_Technical Degree    4410 non-null   float64
 29  Gender_Male                        4410 non-null   float64
 30  MaritalStatus_Married              4410 non-null   float64
 31  MaritalStatus_Single               4410 non-null   float64
 32  JobRole_Human Resources            4410 non-null   float64
 33  JobRole_Laboratory Technician      4410 non-null   float64
 34  JobRole_Manager                    4410 non-null   float64
 35  JobRole_Manufacturing Director     4410 non-null   float64
 36  JobRole_Research Director          4410 non-null   float64
 37  JobRole_Research Scientist         4410 non-null   float64
 38  JobRole_Sales Executive            4410 non-null   float64
 39  JobRole_Sales Representative       4410 non-null   float64
 40  Department_Research & Development  4410 non-null   float64
 41  Department_Sales                   4410 non-null   float64
 42  EnvironmentSatisfaction            4410 non-null   float64
 43  JobSatisfaction                    4410 non-null   float64
 44  WorkLifeBalance                    4410 non-null   float64
 45  JobInvolvement                     4410 non-null   int64
 46  PerformanceRating                  4410 non-null   int64
 47  Total_Hours                        4410 non-null   float64
dtypes: float64(28), int64(20)
memory usage: 1.6 MB

In [20]:
print(f"Sommaire des statistiques : \n{company_df.describe()}")

Sommaire des statistiques :
               Age    Attrition  DistanceFromHome    Education  EmployeeCount  \
count  4410.000000  4410.000000       4410.000000  4410.000000         4410.0
mean     36.923810     0.161224          9.192517     1.912925            1.0
std       9.133301     0.367780          8.105026     1.023933            0.0
min      18.000000     0.000000          1.000000     0.000000            1.0
25%      30.000000     0.000000          2.000000     1.000000            1.0
50%      36.000000     0.000000          7.000000     2.000000            1.0
75%      43.000000     0.000000         14.000000     3.000000            1.0
max      60.000000     1.000000         29.000000     4.000000            1.0

        EmployeeID     JobLevel  MonthlyIncome  NumCompaniesWorked  Over18  \
count  4410.000000  4410.000000    4410.000000         4410.000000  4410.0
mean   2205.500000     2.063946   65029.312925            2.691837     1.0
std    1273.201673     1.106689   47068.888559            2.493912     0.0
min       1.000000     1.000000   10090.000000            0.000000     1.0
25%    1103.250000     1.000000   29110.000000            1.000000     1.0
50%    2205.500000     2.000000   49190.000000            2.000000     1.0
75%    3307.750000     3.000000   83800.000000            4.000000     1.0
max    4410.000000     5.000000  199990.000000            9.000000     1.0

       ...  JobRole_Sales Executive  JobRole_Sales Representative  \
count  ...              4410.000000                   4410.000000
mean   ...                 0.221769                      0.056463
std    ...                 0.415483                      0.230839
min    ...                 0.000000                      0.000000
25%    ...                 0.000000                      0.000000
50%    ...                 0.000000                      0.000000
75%    ...                 0.000000                      0.000000
max    ...                 1.000000                      1.000000

       Department_Research & Development  Department_Sales  \
count                        4410.000000       4410.000000
mean                            0.653741          0.303401
std                             0.475831          0.459779
min                             0.000000          0.000000
25%                             0.000000          0.000000
50%                             1.000000          0.000000
75%                             1.000000          1.000000
max                             1.000000          1.000000

       EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  \
count              4410.000000      4410.000000      4410.000000
mean                  2.725170         2.729478         2.763492
std                   1.089852         1.098904         0.703541
min                   1.000000         1.000000         1.000000
25%                   2.000000         2.000000         2.000000
50%                   3.000000         3.000000         3.000000
75%                   4.000000         4.000000         3.000000
max                   4.000000         4.000000         4.000000

       JobInvolvement  PerformanceRating  Total_Hours
count     4410.000000        4410.000000  4410.000000
mean         2.729932           3.153741  1821.276234
std          0.711400           0.360742   331.361480
min          1.000000           3.000000  1348.800000
25%          2.000000           3.000000  1563.572500
50%          3.000000           3.000000  1745.785000
75%          3.000000           3.000000  1967.295000
max          4.000000           4.000000  2723.380000

[8 rows x 48 columns]

In [21]:
print("Nombre de valeurs uniques par colonne :")
for column in company_df.columns:
    print(f"- {column} : {company_df[column].nunique()} valeurs uniques")

Nombre de valeurs uniques par colonne :
- Age : 43 valeurs uniques
- Attrition : 2 valeurs uniques
- DistanceFromHome : 29 valeurs uniques
- Education : 5 valeurs uniques
- EmployeeCount : 1 valeurs uniques
- EmployeeID : 4410 valeurs uniques
- JobLevel : 5 valeurs uniques
- MonthlyIncome : 1349 valeurs uniques
- NumCompaniesWorked : 10 valeurs uniques
- Over18 : 1 valeurs uniques
- PercentSalaryHike : 15 valeurs uniques
- StandardHours : 1 valeurs uniques
- StockOptionLevel : 4 valeurs uniques
- TotalWorkingYears : 40 valeurs uniques
- TrainingTimesLastYear : 7 valeurs uniques
- YearsAtCompany : 37 valeurs uniques
- YearsSinceLastPromotion : 16 valeurs uniques
- YearsWithCurrManager : 18 valeurs uniques
- AvgYearsPerCompany : 167 valeurs uniques
- StabilityUnderManager : 117 valeurs uniques
- TravelIntensity : 45 valeurs uniques
- YearsBeforePromotion : 31 valeurs uniques
- BusinessTravel_Travel_Frequently : 2 valeurs uniques
- BusinessTravel_Travel_Rarely : 2 valeurs uniques
- EducationField_Life Sciences : 2 valeurs uniques
- EducationField_Marketing : 2 valeurs uniques
- EducationField_Medical : 2 valeurs uniques
- EducationField_Other : 2 valeurs uniques
- EducationField_Technical Degree : 2 valeurs uniques
- Gender_Male : 2 valeurs uniques
- MaritalStatus_Married : 2 valeurs uniques
- MaritalStatus_Single : 2 valeurs uniques
- JobRole_Human Resources : 2 valeurs uniques
- JobRole_Laboratory Technician : 2 valeurs uniques
- JobRole_Manager : 2 valeurs uniques
- JobRole_Manufacturing Director : 2 valeurs uniques
- JobRole_Research Director : 2 valeurs uniques
- JobRole_Research Scientist : 2 valeurs uniques
- JobRole_Sales Executive : 2 valeurs uniques
- JobRole_Sales Representative : 2 valeurs uniques
- Department_Research & Development : 2 valeurs uniques
- Department_Sales : 2 valeurs uniques
- EnvironmentSatisfaction : 4 valeurs uniques
- JobSatisfaction : 4 valeurs uniques
- WorkLifeBalance : 4 valeurs uniques
- JobInvolvement : 4 valeurs uniques
- PerformanceRating : 2 valeurs uniques
- Total_Hours : 4297 valeurs uniques

In [22]:
display(company_df.head())

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,Over18,...,JobRole_Sales Executive,JobRole_Sales Representative,Department_Research & Development,Department_Sales,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Total_Hours
0,51,0,6,1,1,1,1,131160,1.0,1,...,0.0,0.0,0.0,1.0,3.0,4.0,2.0,3,3,1710.69
1,31,1,10,0,1,2,1,41890,0.0,1,...,0.0,0.0,1.0,0.0,3.0,2.0,4.0,2,4,1821.68
2,32,0,17,3,1,3,4,193280,1.0,1,...,1.0,0.0,1.0,0.0,2.0,2.0,1.0,3,3,1697.20
3,38,0,2,4,1,4,3,83210,3.0,1,...,0.0,0.0,1.0,0.0,4.0,4.0,3.0,2,3,1690.51
4,32,0,10,0,1,5,1,23420,4.0,1,...,1.0,0.0,1.0,0.0,4.0,1.0,3.0,3,3,1961.51

---

### 5. <a id='missing-check'>Gestion des valeurs manquantes</a>

In [23]:
if (company_df.isnull().sum() > 0).any():
    missing_values = company_df.isnull().sum()[company_df.isnull().sum() > 0]
    missing_percentage = (missing_values / len(company_df) * 100).round(2)
    print("Valeurs manquantes par colonne :")
    for col in missing_values.index:
        print(f"{col} : {missing_values[col]} valeurs ({missing_percentage[col]}%)")
else:
    print("Il n'y a pas de valeurs manquantes dans le dataset")

Il n'y a pas de valeurs manquantes dans le dataset

---

### 6. <a id='doublons'>Gestion des valeurs dupliquées</a>

In [24]:
if company_df.duplicated().sum() > 0:
    print(f"Nombre de valeurs dupliquées : {company_df.duplicated().sum()}")
    merged_dataset = company_df.drop_duplicates()
    print(f"Nombre de lignes après suppression des doublons : {merged_dataset.shape[0]}")
else:
    print("Il n'y a pas de valeurs dupliquées dans le dataset")

Il n'y a pas de valeurs dupliquées dans le dataset

---

### 7. <a id='types'>Vérification des types de données</a>

In [25]:
numerical_columns = merged_dataset.select_dtypes(include=['int64', 'float64']).columns

for column in numerical_columns:
    invalid_values = merged_dataset[column].apply(lambda x: isinstance(x, (str)))
    if invalid_values.any():
        print(f"La colonne {column} contient des valeurs non numériques :")
        print(merged_dataset[invalid_values][column])
        print(DELIMITER)

if not invalid_values.any():
    print("Aucune valeur non numérique a été trouvée dans les colonnes numériques")

Aucune valeur non numérique a été trouvée dans les colonnes numériques

In [26]:
categorical_columns = merged_dataset.select_dtypes(include=['object']).columns

for column in categorical_columns:
    print(f"Vérification des valeurs uniques dans la colonne {column}")
    print(merged_dataset[column].unique())
    print(DELIMITER)

---

### 8. <a id='pipeline'>Pipeline de traitement des données</a>

# <font color="red"><center>**WIP**</center></font>