### 1. <a id='importation'>Importation des bibliothèques</a>

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import warnings

# Ignorer les avertissements
warnings.filterwarnings('ignore')

DELIMITER = "--------------------------------"

---

### 2. <a id='chargement'>Chargement des données</a>

In [16]:
employee_survey = pd.read_csv('../data/cleaned_employee_survey.csv')
general_data = pd.read_csv('../data/cleaned_general_data.csv')
manager_survey = pd.read_csv('../data/cleaned_manager_survey.csv')
total_hours_per_employee = pd.read_csv('../data/total_hours_per_employee.csv')

---

### 3. <a id='merge'>Merge et sauvegarde des datasets</a>

In [17]:
merged_dataset = general_data.merge(employee_survey, on='EmployeeID').merge(manager_survey, on='EmployeeID').merge(total_hours_per_employee, on='EmployeeID')

merged_dataset.to_csv('../data/merged_data.csv', index=False)

---

### 4. <a id='apercu'>Aperçu général</a>

In [18]:
print(f"Nombre de lignes : {merged_dataset.shape[0]}")
print(f"Nombre de colonnes : {merged_dataset.shape[1]}")

Nombre de lignes : 4410
Nombre de colonnes : 48

In [19]:
print("Informations de base :")
merged_dataset.info()

Informations de base :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   Attrition                          4410 non-null   int64
 2   DistanceFromHome                   4410 non-null   int64
 3   Education                          4410 non-null   int64
 4   EmployeeCount                      4410 non-null   int64
 5   EmployeeID                         4410 non-null   int64
 6   JobLevel                           4410 non-null   int64
 7   MonthlyIncome                      4410 non-null   int64
 8   NumCompaniesWorked                 4410 non-null   float64
 9   Over18                             4410 non-null   int64
 10  PercentSalaryHike                  4410 non-null   int64
 11  StandardHours                      4410 non-null   int64
 12  StockOptionLevel                   4410 non-null   int64
 13  TotalWorkingYears                  4410 non-null   float64
 14  TrainingTimesLastYear              4410 non-null   int64
 15  YearsAtCompany                     4410 non-null   int64
 16  YearsSinceLastPromotion            4410 non-null   int64
 17  YearsWithCurrManager               4410 non-null   int64
 18  AvgYearsPerCompany                 4410 non-null   float64
 19  StabilityUnderManager              4410 non-null   float64
 20  TravelIntensity                    4410 non-null   int64
 21  YearsBeforePromotion               4410 non-null   int64
 22  BusinessTravel_Travel_Frequently   4410 non-null   float64
 23  BusinessTravel_Travel_Rarely       4410 non-null   float64
 24  EducationField_Life Sciences       4410 non-null   float64
 25  EducationField_Marketing           4410 non-null   float64
 26  EducationField_Medical             4410 non-null   float64
 27  EducationField_Other               4410 non-null   float64
 28  EducationField_Technical Degree    4410 non-null   float64
 29  Gender_Male                        4410 non-null   float64
 30  MaritalStatus_Married              4410 non-null   float64
 31  MaritalStatus_Single               4410 non-null   float64
 32  JobRole_Human Resources            4410 non-null   float64
 33  JobRole_Laboratory Technician      4410 non-null   float64
 34  JobRole_Manager                    4410 non-null   float64
 35  JobRole_Manufacturing Director     4410 non-null   float64
 36  JobRole_Research Director          4410 non-null   float64
 37  JobRole_Research Scientist         4410 non-null   float64
 38  JobRole_Sales Executive            4410 non-null   float64
 39  JobRole_Sales Representative       4410 non-null   float64
 40  Department_Research & Development  4410 non-null   float64
 41  Department_Sales                   4410 non-null   float64
 42  EnvironmentSatisfaction            4410 non-null   float64
 43  JobSatisfaction                    4410 non-null   float64
 44  WorkLifeBalance                    4410 non-null   float64
 45  JobInvolvement                     4410 non-null   int64
 46  PerformanceRating                  4410 non-null   int64
 47  Total_Hours                        4410 non-null   float64
dtypes: float64(28), int64(20)
memory usage: 1.6 MB

In [20]:
print(f"Sommaire des statistiques : \n{merged_dataset.describe()}")

Sommaire des statistiques :
               Age    Attrition  DistanceFromHome    Education  EmployeeCount  \
count  4410.000000  4410.000000       4410.000000  4410.000000         4410.0
mean     36.923810     0.161224          9.192517     1.912925            1.0
std       9.133301     0.367780          8.105026     1.023933            0.0
min      18.000000     0.000000          1.000000     0.000000            1.0
25%      30.000000     0.000000          2.000000     1.000000            1.0
50%      36.000000     0.000000          7.000000     2.000000            1.0
75%      43.000000     0.000000         14.000000     3.000000            1.0
max      60.000000     1.000000         29.000000     4.000000            1.0

        EmployeeID     JobLevel  MonthlyIncome  NumCompaniesWorked  Over18  \
count  4410.000000  4410.000000    4410.000000         4410.000000  4410.0
mean   2205.500000     2.063946   65029.312925            2.691837     1.0
std    1273.201673     1.106689   47068.888559            2.493912     0.0
min       1.000000     1.000000   10090.000000            0.000000     1.0
25%    1103.250000     1.000000   29110.000000            1.000000     1.0
50%    2205.500000     2.000000   49190.000000            2.000000     1.0
75%    3307.750000     3.000000   83800.000000            4.000000     1.0
max    4410.000000     5.000000  199990.000000            9.000000     1.0

       ...  JobRole_Sales Executive  JobRole_Sales Representative  \
count  ...              4410.000000                   4410.000000
mean   ...                 0.221769                      0.056463
std    ...                 0.415483                      0.230839
min    ...                 0.000000                      0.000000
25%    ...                 0.000000                      0.000000
50%    ...                 0.000000                      0.000000
75%    ...                 0.000000                      0.000000
max    ...                 1.000000                      1.000000

       Department_Research & Development  Department_Sales  \
count                        4410.000000       4410.000000
mean                            0.653741          0.303401
std                             0.475831          0.459779
min                             0.000000          0.000000
25%                             0.000000          0.000000
50%                             1.000000          0.000000
75%                             1.000000          1.000000
max                             1.000000          1.000000

       EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  \
count              4410.000000      4410.000000      4410.000000
mean                  2.725170         2.729478         2.763492
std                   1.089852         1.098904         0.703541
min                   1.000000         1.000000         1.000000
25%                   2.000000         2.000000         2.000000
50%                   3.000000         3.000000         3.000000
75%                   4.000000         4.000000         3.000000
max                   4.000000         4.000000         4.000000

       JobInvolvement  PerformanceRating  Total_Hours
count     4410.000000        4410.000000  4410.000000
mean         2.729932           3.153741  1821.276234
std          0.711400           0.360742   331.361480
min          1.000000           3.000000  1348.800000
25%          2.000000           3.000000  1563.572500
50%          3.000000           3.000000  1745.785000
75%          3.000000           3.000000  1967.295000
max          4.000000           4.000000  2723.380000

[8 rows x 48 columns]

In [21]:
print("Nombre de valeurs uniques par colonne :")
for column in merged_dataset.columns:
    print(f"- {column} : {merged_dataset[column].nunique()} valeurs uniques")

Nombre de valeurs uniques par colonne :
- Age : 43 valeurs uniques
- Attrition : 2 valeurs uniques
- DistanceFromHome : 29 valeurs uniques
- Education : 5 valeurs uniques
- EmployeeCount : 1 valeurs uniques
- EmployeeID : 4410 valeurs uniques
- JobLevel : 5 valeurs uniques
- MonthlyIncome : 1349 valeurs uniques
- NumCompaniesWorked : 10 valeurs uniques
- Over18 : 1 valeurs uniques
- PercentSalaryHike : 15 valeurs uniques
- StandardHours : 1 valeurs uniques
- StockOptionLevel : 4 valeurs uniques
- TotalWorkingYears : 40 valeurs uniques
- TrainingTimesLastYear : 7 valeurs uniques
- YearsAtCompany : 37 valeurs uniques
- YearsSinceLastPromotion : 16 valeurs uniques
- YearsWithCurrManager : 18 valeurs uniques
- AvgYearsPerCompany : 167 valeurs uniques
- StabilityUnderManager : 117 valeurs uniques
- TravelIntensity : 45 valeurs uniques
- YearsBeforePromotion : 31 valeurs uniques
- BusinessTravel_Travel_Frequently : 2 valeurs uniques
- BusinessTravel_Travel_Rarely : 2 valeurs uniques
- EducationField_Life Sciences : 2 valeurs uniques
- EducationField_Marketing : 2 valeurs uniques
- EducationField_Medical : 2 valeurs uniques
- EducationField_Other : 2 valeurs uniques
- EducationField_Technical Degree : 2 valeurs uniques
- Gender_Male : 2 valeurs uniques
- MaritalStatus_Married : 2 valeurs uniques
- MaritalStatus_Single : 2 valeurs uniques
- JobRole_Human Resources : 2 valeurs uniques
- JobRole_Laboratory Technician : 2 valeurs uniques
- JobRole_Manager : 2 valeurs uniques
- JobRole_Manufacturing Director : 2 valeurs uniques
- JobRole_Research Director : 2 valeurs uniques
- JobRole_Research Scientist : 2 valeurs uniques
- JobRole_Sales Executive : 2 valeurs uniques
- JobRole_Sales Representative : 2 valeurs uniques
- Department_Research & Development : 2 valeurs uniques
- Department_Sales : 2 valeurs uniques
- EnvironmentSatisfaction : 4 valeurs uniques
- JobSatisfaction : 4 valeurs uniques
- WorkLifeBalance : 4 valeurs uniques
- JobInvolvement : 4 valeurs uniques
- PerformanceRating : 2 valeurs uniques
- Total_Hours : 4297 valeurs uniques

In [22]:
display(merged_dataset.head())

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,Over18,...,JobRole_Sales Executive,JobRole_Sales Representative,Department_Research & Development,Department_Sales,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Total_Hours
0,51,0,6,1,1,1,1,131160,1.0,1,...,0.0,0.0,0.0,1.0,3.0,4.0,2.0,3,3,1710.69
1,31,1,10,0,1,2,1,41890,0.0,1,...,0.0,0.0,1.0,0.0,3.0,2.0,4.0,2,4,1821.68
2,32,0,17,3,1,3,4,193280,1.0,1,...,1.0,0.0,1.0,0.0,2.0,2.0,1.0,3,3,1697.20
3,38,0,2,4,1,4,3,83210,3.0,1,...,0.0,0.0,1.0,0.0,4.0,4.0,3.0,2,3,1690.51
4,32,0,10,0,1,5,1,23420,4.0,1,...,1.0,0.0,1.0,0.0,4.0,1.0,3.0,3,3,1961.51

---

### 5. <a id='missing-check'>Gestion des valeurs manquantes</a>

In [23]:
if (merged_dataset.isnull().sum() > 0).any():
    missing_values = merged_dataset.isnull().sum()[merged_dataset.isnull().sum() > 0]
    missing_percentage = (missing_values / len(merged_dataset) * 100).round(2)
    print("Valeurs manquantes par colonne :")
    for col in missing_values.index:
        print(f"{col} : {missing_values[col]} valeurs ({missing_percentage[col]}%)")
else:
    print("Il n'y a pas de valeurs manquantes dans le dataset")

Il n'y a pas de valeurs manquantes dans le dataset

---

### 6. <a id='doublons'>Gestion des valeurs dupliquées</a>

In [24]:
if merged_dataset.duplicated().sum() > 0:
    print(f"Nombre de valeurs dupliquées : {merged_dataset.duplicated().sum()}")
    merged_dataset = merged_dataset.drop_duplicates()
    print(f"Nombre de lignes après suppression des doublons : {merged_dataset.shape[0]}")
else:
    print("Il n'y a pas de valeurs dupliquées dans le dataset")

Il n'y a pas de valeurs dupliquées dans le dataset

---

### 7. <a id='types'>Vérification des types de données</a>

In [25]:
numerical_columns = merged_dataset.select_dtypes(include=['int64', 'float64']).columns

for column in numerical_columns:
    invalid_values = merged_dataset[column].apply(lambda x: isinstance(x, (str)))
    if invalid_values.any():
        print(f"La colonne {column} contient des valeurs non numériques :")
        print(merged_dataset[invalid_values][column])
        print(DELIMITER)

if not invalid_values.any():
    print("Aucune valeur non numérique a été trouvée dans les colonnes numériques")

Aucune valeur non numérique a été trouvée dans les colonnes numériques

In [26]:
categorical_columns = merged_dataset.select_dtypes(include=['object']).columns

for column in categorical_columns:
    print(f"Vérification des valeurs uniques dans la colonne {column}")
    print(merged_dataset[column].unique())
    print(DELIMITER)

---

### 8. <a id='pipeline'>Pipeline de traitement des données</a>

# <font color="red"><center>**WIP**</center></font>