In [1]:
# Importation des bibliothèques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

# Ignorer les avertissements
import warnings
warnings.filterwarnings('ignore')

# Délimiteur
DELIMITER = "--------------------------------"

In [2]:
# Chargement des données
path = "../data/"
employees_survey = pd.read_csv(path + "employee_survey_data.csv")
general_data = pd.read_csv(path + "general_data.csv")
in_time = pd.read_csv(path + "in_time.csv")
out_time = pd.read_csv(path + "out_time.csv")
manager_survey = pd.read_csv(path + "manager_survey_data.csv")

In [ ]:
# Dataset : employees_survey

# Informations de base
employees_survey.info()
print(DELIMITER)

# 5 premières lignes du dataset
print(employees_survey.head())
print(DELIMITER)

# Sommaire des statistiques
print(employees_survey.describe())
print(DELIMITER)

# Nombre de valeurs nulles par colonnes
print(employees_survey.isnull().sum())
print(DELIMITER)

On observe grâce au code de la cellule précédente que les colonnes `EnvironmentSatisfaction`, `JobSatisfaction`, `WorkLifeBalance` ont des valeurs nulles. Il faudra donc faire le choix entre supprimer les lignes ou les remplacer par les valeurs moyennes des colonnes.

In [5]:
# Dataset : manager_survey

# Informations de base
print(manager_survey.info())
print(DELIMITER)

# 5 premières lignes du dataset
print(manager_survey.head())
print(DELIMITER)

# Sommaire des statistiques
print(manager_survey.describe())
print(DELIMITER)

# Nombre de valeurs nulles par colonnes
print(manager_survey.isnull().sum())
print(DELIMITER)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB
None
--------------------------------
   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
--------------------------------
        EmployeeID  JobInvolvement  PerformanceRating
count  4410.000000     4410.000000        4410.000000
mean   2205.500000        2.729932           3.153741
std    1273.201673        0.711400           0.360742
min       1.000000        1.000000           3.000000
25%    1103.250000        2.000000           3.000000
50%    2205.500000        3.000000           3.000000
75%    3307.750000        3.000000           3.000000
max    4410.000000        4.000000           4.000000
--------------------------------
EmployeeID           0
JobInvolvement       0
PerformanceRating    0
dtype: int64
--------------------------------

On observe grâce au code de la cellule précédente qu'il ne manque aucune valeur dans le dataset.

In [6]:
# Dataset : general_data

# Informations de base
print(general_data.info())
print(DELIMITER)

# 5 premières lignes du dataset
print(general_data.head())
print(DELIMITER)

# Sommaire des statistiques
print(general_data.describe())
print(DELIMITER)

# Nombre de valeurs nulles par colonnes
print(general_data.isnull().sum())
print(DELIMITER)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None
--------------------------------
   Age Attrition     BusinessTravel              Department  DistanceFromHome  \
0   51        No      Travel_Rarely                   Sales                 6
1   31       Yes  Travel_Frequently  Research & Development                10
2   32        No  Travel_Frequently  Research & Development                17
3   38        No         Non-Travel  Research & Development                 2
4   32        No      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0                 1.0      Y                11              8
1                 0.0      Y                23              8
2                 1.0      Y                15              8
3                 3.0      Y                11              8
4                 4.0      Y                12              8

   StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0               1.0                      6               1
1                 1               6.0                      3               5
2                 3               5.0                      2               5
3                 3              13.0                      5               8
4                 2               9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

[5 rows x 24 columns]
--------------------------------
               Age  DistanceFromHome    Education  EmployeeCount   EmployeeID  \
count  4410.000000       4410.000000  4410.000000         4410.0  4410.000000
mean     36.923810          9.192517     2.912925            1.0  2205.500000
std       9.133301          8.105026     1.023933            0.0  1273.201673
min      18.000000          1.000000     1.000000            1.0     1.000000
25%      30.000000          2.000000     2.000000            1.0  1103.250000
50%      36.000000          7.000000     3.000000            1.0  2205.500000
75%      43.000000         14.000000     4.000000            1.0  3307.750000
max      60.000000         29.000000     5.000000            1.0  4410.000000

          JobLevel  MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  \
count  4410.000000    4410.000000         4391.000000        4410.000000
mean      2.063946   65029.312925            2.694830          15.209524
std       1.106689   47068.888559            2.498887           3.659108
min       1.000000   10090.000000            0.000000          11.000000
25%       1.000000   29110.000000            1.000000          12.000000
50%       2.000000   49190.000000            2.000000          14.000000
75%       3.000000   83800.000000            4.000000          18.000000
max       5.000000  199990.000000            9.000000          25.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         4410.0       4410.000000        4401.000000
mean             8.0          0.793878          11.279936
std              0.0          0.851883           7.782222
min              8.0          0.000000           0.000000
25%              8.0          0.000000           6.000000
50%              8.0          1.000000          10.000000
75%              8.0          1.000000          15.000000
max              8.0          3.000000          40.000000

       TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
count            4410.000000     4410.000000              4410.000000
mean                2.799320        7.008163                 2.187755
std                 1.288978        6.125135                 3.221699
min                 0.000000        0.000000                 0.000000
25%                 2.000000        3.000000                 0.000000
50%                 3.000000        5.000000                 1.000000
75%                 3.000000        9.000000                 3.000000
max                 6.000000       40.000000                15.000000

       YearsWithCurrManager
count           4410.000000
mean               4.123129
std                3.567327
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000
--------------------------------
Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
--------------------------------

On observe grâce au code de la cellule précédente qu'il manque 19 valeurs dans le dataset pour la colonne `NumCompaniesWorked`. Il faudra donc faire le choix entre supprimer les lignes ou les remplacer par la valeur moyenne de la colonne.

In [8]:
# Dataset : in_time

# Informations de base
print(in_time.info())
print(DELIMITER)

# 5 premières lignes du dataset
print(in_time.head())
print(DELIMITER)

# Sommaire des statistiques
print(in_time.describe())
print(DELIMITER)

# Nombre de valeurs nulles par colonnes
print(in_time.isnull().sum())
print(DELIMITER)

# Dataset : out_time

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 262 entries, Unnamed: 0 to 2015-12-31
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None
--------------------------------
   Unnamed: 0  2015-01-01           2015-01-02           2015-01-05  \
0           1         NaN  2015-01-02 09:43:45  2015-01-05 10:08:48
1           2         NaN  2015-01-02 10:15:44  2015-01-05 10:21:05
2           3         NaN  2015-01-02 10:17:41  2015-01-05 09:50:50
3           4         NaN  2015-01-02 10:05:06  2015-01-05 09:56:32
4           5         NaN  2015-01-02 10:28:17  2015-01-05 09:49:58

            2015-01-06           2015-01-07           2015-01-08  \
0  2015-01-06 09:54:26  2015-01-07 09:34:31  2015-01-08 09:51:09
1                  NaN  2015-01-07 09:45:17  2015-01-08 10:09:04
2  2015-01-06 10:14:13  2015-01-07 09:47:27  2015-01-08 10:03:40
3  2015-01-06 10:11:07  2015-01-07 09:37:30  2015-01-08 10:02:08
4  2015-01-06 09:45:28  2015-01-07 09:49:37  2015-01-08 10:19:44

            2015-01-09           2015-01-12           2015-01-13  ...  \
0  2015-01-09 10:09:25  2015-01-12 09:42:53  2015-01-13 10:13:06  ...
1  2015-01-09 09:43:26  2015-01-12 10:00:07  2015-01-13 10:43:29  ...
2  2015-01-09 10:05:49  2015-01-12 10:03:47  2015-01-13 10:21:26  ...
3  2015-01-09 10:08:12  2015-01-12 10:13:42  2015-01-13 09:53:22  ...
4  2015-01-09 10:00:50  2015-01-12 10:29:27  2015-01-13 09:59:32  ...

            2015-12-18           2015-12-21           2015-12-22  \
0                  NaN  2015-12-21 09:55:29  2015-12-22 10:04:06
1  2015-12-18 10:37:17  2015-12-21 09:49:02  2015-12-22 10:33:51
2  2015-12-18 10:15:14  2015-12-21 10:10:28  2015-12-22 09:44:44
3  2015-12-18 10:17:38  2015-12-21 09:58:21  2015-12-22 10:04:25
4  2015-12-18 09:58:35  2015-12-21 10:03:41  2015-12-22 10:10:30

            2015-12-23           2015-12-24 2015-12-25           2015-12-28  \
0  2015-12-23 10:14:27  2015-12-24 10:11:35        NaN  2015-12-28 10:13:41
1  2015-12-23 10:12:10                  NaN        NaN  2015-12-28 09:31:45
2  2015-12-23 10:15:54  2015-12-24 10:07:26        NaN  2015-12-28 09:42:05
3  2015-12-23 10:11:46  2015-12-24 09:43:15        NaN  2015-12-28 09:52:44
4  2015-12-23 10:13:36  2015-12-24 09:44:24        NaN  2015-12-28 10:05:15

            2015-12-29           2015-12-30           2015-12-31
0  2015-12-29 10:03:36  2015-12-30 09:54:12  2015-12-31 10:12:44
1  2015-12-29 09:55:49  2015-12-30 10:32:25  2015-12-31 09:27:20
2  2015-12-29 09:43:36  2015-12-30 09:34:05  2015-12-31 10:28:39
3  2015-12-29 09:33:16  2015-12-30 10:18:12  2015-12-31 10:01:15
4  2015-12-29 10:30:53  2015-12-30 09:18:21  2015-12-31 09:41:09

[5 rows x 262 columns]
--------------------------------
        Unnamed: 0  2015-01-01  2015-01-14  2015-01-26  2015-03-05  \
count  4410.000000         0.0         0.0         0.0         0.0
mean   2205.500000         NaN         NaN         NaN         NaN
std    1273.201673         NaN         NaN         NaN         NaN
min       1.000000         NaN         NaN         NaN         NaN
25%    1103.250000         NaN         NaN         NaN         NaN
50%    2205.500000         NaN         NaN         NaN         NaN
75%    3307.750000         NaN         NaN         NaN         NaN
max    4410.000000         NaN         NaN         NaN         NaN

       2015-05-01  2015-07-17  2015-09-17  2015-10-02  2015-11-09  2015-11-10  \
count         0.0         0.0         0.0         0.0         0.0         0.0
mean          NaN         NaN         NaN         NaN         NaN         NaN
std           NaN         NaN         NaN         NaN         NaN         NaN
min           NaN         NaN         NaN         NaN         NaN         NaN
25%           NaN         NaN         NaN         NaN         NaN         NaN
50%           NaN         NaN         NaN         NaN         NaN         NaN
75%           NaN         NaN         NaN         NaN         NaN         NaN
max           NaN         NaN         NaN         NaN         NaN         NaN

       2015-11-11  2015-12-25
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN
--------------------------------
Unnamed: 0       0
2015-01-01    4410
2015-01-02     209
2015-01-05     206
2015-01-06     228
              ...
2015-12-25    4410
2015-12-28     234
2015-12-29     230
2015-12-30     265
2015-12-31     213
Length: 262, dtype: int64
--------------------------------

In [ ]:
# Dataset : out_time

# Informations de base
print(out_time.info())
print(DELIMITER)

# 5 premières lignes du dataset
print(out_time.head())
print(DELIMITER)

# Sommaire des statistiques
print(out_time.describe())
print(DELIMITER)

# Nombre de valeurs nulles par colonnes
print(out_time.isnull().sum())
print(DELIMITER)