In [2]:
# Importation des bibliothèques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

# Ignorer les avertissements
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Chargement des données
path = "../data/"
employees_survey = pd.read_csv(path + "employee_survey_data.csv")
general_data = pd.read_csv(path + "general_data.csv")
in_time = pd.read_csv(path + "in_time.csv")
out_time = pd.read_csv(path + "out_time.csv")
manager_survey = pd.read_csv(path + "manager_survey_data.csv")

In [7]:
# Aperçu des données du sondage des employés
print(employees_survey.head())
print("--------------------------------")
print(employees_survey.info())
print("--------------------------------")
print(employees_survey.describe())
print("--------------------------------")

# Nombre de valeurs nulles par colonnes
print(employees_survey.isnull().sum())
print("--------------------------------")

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0
--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 137.9 KB
None
--------------------------------
        EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
count  4410.000000              4385.000000      4390.000000      4372.000000
mean   2205.500000                 2.723603         2.728246         2.761436
std    1273.201673                 1.092756         1.101253         0.706245
min       1.000000                 1.000000         1.000000         1.000000
25%    1103.250000                 2.000000         2.000000         2.000000
50%    2205.500000                 3.000000         3.000000         3.000000
75%    3307.750000                 4.000000         4.000000         3.000000
max    4410.000000                 4.000000         4.000000         4.000000
--------------------------------

In [8]:
# Aperçu des données du sondage des managers
print(manager_survey.head())
print("--------------------------------")
print(manager_survey.info())
print("--------------------------------")
print(manager_survey.describe())
print("--------------------------------")

# Nombre de valeurs nulles par colonnes
print(manager_survey.isnull().sum())
print("--------------------------------")

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB
None
--------------------------------
        EmployeeID  JobInvolvement  PerformanceRating
count  4410.000000     4410.000000        4410.000000
mean   2205.500000        2.729932           3.153741
std    1273.201673        0.711400           0.360742
min       1.000000        1.000000           3.000000
25%    1103.250000        2.000000           3.000000
50%    2205.500000        3.000000           3.000000
75%    3307.750000        3.000000           3.000000
max    4410.000000        4.000000           4.000000
--------------------------------

In [9]:
# Aperçu des données générales
print(general_data.head())
print("--------------------------------")
print(general_data.info())
print("--------------------------------")
print(general_data.describe())
print("--------------------------------")

# Nombre de valeurs nulles par colonnes
print(general_data.isnull().sum())
print("--------------------------------")

   Age Attrition     BusinessTravel              Department  DistanceFromHome  \
0   51        No      Travel_Rarely                   Sales                 6
1   31       Yes  Travel_Frequently  Research & Development                10
2   32        No  Travel_Frequently  Research & Development                17
3   38        No         Non-Travel  Research & Development                 2
4   32        No      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0                 1.0      Y                11              8
1                 0.0      Y                23              8
2                 1.0      Y                15              8
3                 3.0      Y                11              8
4                 4.0      Y                12              8

   StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0               1.0                      6               1
1                 1               6.0                      3               5
2                 3               5.0                      2               5
3                 3              13.0                      5               8
4                 2               9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

[5 rows x 24 columns]
--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None
--------------------------------
               Age  DistanceFromHome    Education  EmployeeCount   EmployeeID  \
count  4410.000000       4410.000000  4410.000000         4410.0  4410.000000
mean     36.923810          9.192517     2.912925            1.0  2205.500000
std       9.133301          8.105026     1.023933            0.0  1273.201673
min      18.000000          1.000000     1.000000            1.0     1.000000
25%      30.000000          2.000000     2.000000            1.0  1103.250000
50%      36.000000          7.000000     3.000000            1.0  2205.500000
75%      43.000000         14.000000     4.000000            1.0  3307.750000
max      60.000000         29.000000     5.000000            1.0  4410.000000

          JobLevel  MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  \
count  4410.000000    4410.000000         4391.000000        4410.000000
mean      2.063946   65029.312925            2.694830          15.209524
std       1.106689   47068.888559            2.498887           3.659108
min       1.000000   10090.000000            0.000000          11.000000
25%       1.000000   29110.000000            1.000000          12.000000
50%       2.000000   49190.000000            2.000000          14.000000
75%       3.000000   83800.000000            4.000000          18.000000
max       5.000000  199990.000000            9.000000          25.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         4410.0       4410.000000        4401.000000
mean             8.0          0.793878          11.279936
std              0.0          0.851883           7.782222
min              8.0          0.000000           0.000000
25%              8.0          0.000000           6.000000
50%              8.0          1.000000          10.000000
75%              8.0          1.000000          15.000000
max              8.0          3.000000          40.000000

       TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
count            4410.000000     4410.000000              4410.000000
mean                2.799320        7.008163                 2.187755
std                 1.288978        6.125135                 3.221699
min                 0.000000        0.000000                 0.000000
25%                 2.000000        3.000000                 0.000000
50%                 3.000000        5.000000                 1.000000
75%                 3.000000        9.000000                 3.000000
max                 6.000000       40.000000                15.000000

       YearsWithCurrManager
count           4410.000000
mean               4.123129
std                3.567327
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000
--------------------------------

In [ ]:
# Aperçu des données pour les heures d'entrée
print(in_time.head())
print("--------------------------------")
print(in_time.info())
print("--------------------------------")
print(in_time.describe())
print("--------------------------------")

# Nombre de valeurs nulles par colonnes
print(in_time.isnull().sum())
print("--------------------------------")

In [ ]:
# Aperçu des données pour les heures de sortie
print(out_time.head())
print("--------------------------------")
print(out_time.info())
print("--------------------------------")
print(out_time.describe())
print("--------------------------------")

# Nombre de valeurs nulles par colonnes
print(out_time.isnull().sum())
print("--------------------------------")